body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.card{
  margin: 40px 40px 0 40px;
  border-bottom: 2px solid rgb(207, 207, 207);
  /* background: rgb(41, 144, 204); */
  display: flex;

}
.nav {
  height: 70px;
  display: flex;
  box-shadow: 0px 3px 7.45px rgba(0, 0, 0, 0.2);
  justify-content: center;
  background: rgb(165, 65, 65);
  color: aliceblue;
}
.fa-earth-africa{
  width: 40px;
}

.img{
  width:250px;
  border-radius: 10px;
}

.location{
  width: 25px;
  height: 25px;
}
.inline{
  display: flex;
  /* background: rgb(207, 109, 109); */
  align-items: center;
}
.inline > h4{
  margin: 0 0 0 2.5px;
}
.inline > p > a{
  margin: 0 0 0 20px;
  color: rgb(133, 133, 133);
}
.info{
  /* background: brown; */
  height: 250px;
  margin: 0 0 0 20px;
}
.info> h1{
  padding: 0;
  margin: 0;
  /* background: rgb(88, 88, 88); */
}
.info> h4{
  padding: 0;
  margin: 0;
  /* background: rgb(158, 158, 158); */
}